.App {
  text-align: center;
  color: #FFD966;
  background-image: linear-gradient(
    to bottom,
    #02345f 0,
    #000c18 100%
  );
  height: 100vh;
  overflow-y: scroll;
}

.mainContainer{
  background-image: url("./components/layout/media/sky.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex !important;
  flex-direction: column !important;
  border-style: solid !important;
  border-top: none !important;
  border-bottom: none !important;
  
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.gameForm{
  border-style: solid;
  background-image: url("./components/layout/media/forest.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: auto;
  left: 0;
  width: 100%;
  max-height: 20vh;
  height: 100%;
  border-left: none;
  border-right: none;
  
  border-radius: 20px;


}

.burando{
  color: #FFD966 !important;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.betCol{
  min-width: 7vw !important;  
}

.discordChat{
  margin-top: 10px;
  margin-bottom: 20px;
}

.announcements{
  overflow-y: scroll;
  max-height: 60vh;
}

.btn-primary{
  background-color: #FFD966 !important;
  border-color: #000000;
  box-shadow: -3px 3px orange, -2px 2px orange, -1px 1px orange;
  border: 1px solid black;
}
.btn-primary:hover, .btn-primary:focus{
    background-color: #97803a !important;
    border-color: #000000;
    box-shadow: #FFD966
}

.bets{
  padding: 20px !important;
  margin-bottom: -40px !important;
  margin-top: -40px !important;
}

.options{
  margin-left: 60px !important;
  margin-right: 60px !important;
}


option:hover{
    background-color: #FFD966 ;
}

.gameMod{
  margin-top: 10px !important;
  justify-content: center ;
}

.aCard{
  width: 8vw !important;
  height: 13vh !important;
}

.chickens{
  margin-top: 15px !important;
  position:relative;
  display: flex !important;
  align-items: center !important;
}

.cardCol{
  margin-left: 10px !important;
  margin-right: 10px !important;
  width: 120px !important;
  height: 120px !important;
}

.centered{
  margin-top: 5vh !important;
  margin-bottom: 5vh !important;
}

.btnFrom{
  margin-bottom: 30px !important;
}

.rew{
  margin-top: 10px;
}

.popupBtn{
  margin-left: 20px;
}